# {{ ansible_managed }}

127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% if dns_hosts is defined %}{% for dns_host in dns_hosts %}
{{ dns_host }}
{% endfor %}{% endif %}
